# Data for DB
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PORT=

# Data for config.settings
SECRET_KEY=

#EMAIL
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Data for telegram
API_TELEGRAM=