asgiref==3.7.2
cffi==1.16.0
coverage==7.3.2
cryptography==41.0.4
Django==4.2.6
django-multiselectfield==0.1.12
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7
flake8==6.1.0
inflection==0.5.1
mccabe==0.7.0
packaging==23.2
Pillow==10.0.1
psycopg2-binary==2.9.9
pycodestyle==2.11.0
pycparser==2.21
pyflakes==3.1.0
PyJWT==2.8.0
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
rest-framework-simplejwt==0.0.2
sqlparse==0.4.4
typing_extensions==4.8.0
uritemplate==4.1.1
pyTelegramBotAPI==4.14.0
telebot